#movie-card {
  margin: auto auto;
  /* background-image: linear-gradient(to bottom, rgba(141, 141, 141, 0), rgba(3, 3, 3, 0.692)); */
  height: 350px;
  width: 294px;
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4px;
  margin-top: 10px;
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: flex-end;
  color: #FFF;
}

#movie-card:after {
  background: #444;
}

.movie-card-title {
  font: 900 1.3rem "Roboto";
  padding: 5px 0;
}

.evaluation {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  font-size: 0.9rem;
}

#no-movie {
  margin-top: 50px;
  margin-left: 17px;
  background: white;
  padding: 10px;
  border-radius: 50px;
  
}

.hearts {
  display: inline;
}

.synopsis {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  font-size: 0.9rem;
}

.synopsis p {
  max-width: 200px;
}

#show-synopsis {
  color:rgb(204, 11, 11);
  border: none;
  background: none;
  text-decoration: underline;
  cursor: pointer;
  z-index: 1;
}

#show-synpsis:hover {
  background: #666;
  
}