.mini-movie-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.mini-movie-card .hearts {
  display: flex;
}

.mini-card-title {
  font-size: 0.9rem;
  color: white;
  padding: 5px;
  max-width: 145px;
}

@media only screen and (min-width: 321px) {
  .mini-movie-card {
    width: 294px !important;
    height: 350px !important;
    margin-bottom: 50px !important;
  }
}
