.movie-list {
  background: white;
  height: 90vh;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.movie-list img {
  display: block;
  padding-top: 10px;
  margin: auto auto;
}

.movie-list-title {
  font-size: 1.3rem;
  padding: 20px;
  font-weight: 900;
}

.no-movie {
  padding: 20px;
  font-size: 1.2rem;
  text-align: center;
}

@media only screen and (min-width: 321px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
